body{
    background-color: hwb(46 1% 3%);
    margin: 0;
    padding: 0;
};
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
ul li{
    color:darkgreen;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;


}
ul li a{
    color:black
}
ul li a:hover{
    color: red;
}
h1{
    text-align: center;
    font-size: 4rem;
}